
@{
    ViewBag.Title = "FindPassword";
}

<div class="header">
    <h2>비밀번호 찾기</h2>
</div>

<div class="content">
    <form class="pure-form pure-form-aligned" id="frmFindPwd" action="/Account/FindPassword" method="post">
        <fieldset>
            <div class="pure-control-group">
                <label for="email">이메일(아이디)</label>
                <input id="email" name="email" type="email" placeholder="Email Address" required>
            </div>

            <div class="pure-controls">
                <button type="button" class="pure-button pure-button-primary" id="findPwd">비밀번호 찾기</button>
            </div>
        </fieldset>
    </form>
</div>

@section script
{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script type="text/javascript">
        $("#frmFindPwd").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
            },
            messages: {
                email: "형식에 맞는 이메일을 입력해 주세요."
            }
        });

        $("#findPwd").click(function () {
            if (!$("#frmFindPwd").valid()) return;

            $("#frmFindPwd").ajaxForm({
                success: function (data, statusText, xhr, $form) {
                        alert(data.message);
                },
                dataType: 'json'
            });
            $("#frmFindPwd").submit();
            return false;
        });

    </script>

}